@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  /* overflow-x: hidden; */
  /* background-color: #fcfcfc; */
  background-color: #ffffff;
  color: #222129;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-family: var(--font-poppins);
  line-height: 20px;
}

a {
  color: inherit;
  text-decoration: none;
}
.projectYear {
  margin-top: 0.1em;
  margin-bottom: 1em;
  font-size: 0.8em;
  font-weight: 600;
  color: #c1c9e7;
}
.yearColor {
  color: #c1c9e7;
}
.link404 {
  color: #d81414;
}

.glassmorphism {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.9);
  /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  /* border-bottom: 1px solid rgba(255, 255, 255, 0.764); */
}

.glassmorphism2 {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.523);
  /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  /* border-bottom: 1px solid rgba(255, 255, 255, 0.764); */
}

.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}

::selection {
  background: #edebff;
}

/*Scrollbar*/
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 50px;
}

::-webkit-scrollbar-thumb {
  background: #e2e0f4;
  border-radius: 50px;
}

.hideScrollBar {
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}
.hideScrollBar::-webkit-scrollbar {
  width: 0;
  height: 0;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */
