#blogTitle {
  font-family: "Times New Roman", Times, serif;
  font-weight: 900;
}

article {
  font-size: 1.05em;
  font-weight: 450;
  background-color: #fdfdfd;
}

section h2 {
  font-weight: 500;
  font-size: 1.5em;
  margin-bottom: 1.2em;
  line-height: 1.2em;
  font-family: var(--font-dm-sans);
}

section h3 {
  font-weight: 700;
  margin-bottom: 0.8em;
  margin-top: 1.8em;
  font-size: 1.2em;

  @media (max-width: 1280px) {
    font-size: 1.1em;
  }
}

section h4 {
  font-weight: 700;
  font-size: 1.02em;
  margin-bottom: 0.8em;
  margin-top: 1.5em;
  font-style: italic;

  @media (max-width: 1280px) {
    font-size: 1.1em;
  }
}

section p {
  margin-bottom: 1.5em;
  line-height: 1.5em;
  color: rgb(56, 59, 64);
  font-family: var(--font-geist-sans);
}

section ul {
  list-style: circle;
  margin-bottom: 1em;
  margin-left: 1.4em;
}

section li {
  margin-bottom: 0.5em;
  line-height: 1.5em;
  color: rgb(56, 59, 64);
  font-family: var(--font-geist-sans);
}

b {
  font-weight: 700;
  margin-right: 0.5em;
  color: rgb(18, 19, 18);
}

section {
  width: 90%;
  max-width: 600px;
  margin: auto;
  display: flex;
  flex-direction: column;
  line-height: 1.4em;
  font-family: var(--font-inter);
  align-items: start;
  margin-bottom: 3.5rem; /* 12 x 0.25rem */

  /* Styles for xl screens (min-width: 1280px) */
  @media (min-width: 1280px) {
    width: 50%;
    max-width: 1000px;
  }

  /* Styles for 2xl screens (min-width: 1536px) */
  @media (min-width: 1536px) {
    width: 37%;
  }
}

::selection {
  background: #282c2b;
  color: azure;
}

::-webkit-scrollbar-thumb {
  background: #22473e;
  border-radius: 0px;
}

/*Scrollbar*/
::-webkit-scrollbar {
  width: 10px;
}
